/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  /* Дублируем переменные для тёмной темы */
  --decor-element: #FF0070;
  --button-color: #FF0070;
  --title-color: #DB00FF;
  --shadow-title-color: #FF0070;
  --subtitle-text: #000028;
  --background-subtitle-color: #FF0070;
  --background-color: #000028;
  --text-color-desc: #F1B2CE;
  --container-title-color: #FF0070;
  --link-text: #FF0070;
  --footer-title-color: #DB00FF;
  --footer-title-shadow-color: #FF0070;
  --hover-focus-button-color: #FF0070;
  --backround-image: url(../images/cover-image-dark.png);
}

/* Остальные стили */

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

