/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


:root.theme_light { 
  --decor-element: #353430;
  --button-color: #353430;
  --title-color: #FFC2E6;
  --shadow-title-color: #FF0070;
  --subtitle-text: #353430;
  --background-subtitle-color: #FF8DCB;
  --background-color: #FFF1F7;
  --text-color-desc: #353430;
  --container-title-color: #353430;
  --link-text: #FF8DCB;
  --hover-focus-link-color: #353430;
  --footer-title-color: #FFC2E6;
  --footer-title-shadow-color: #FF0070;
  --hover-focus-button-color: #353430;
  --backround-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
:root {
  --decor-element: #353430;
  --button-color: #353430;
  --title-color: #FFC2E6;
  --shadow-title-color: #FF0070;
  --subtitle-text: #353430;
  --background-subtitle-color: #FF8DCB;
  --background-color: #FFF1F7;
  --text-color-desc: #353430;
  --container-title-color: #353430;
  --link-text: #FF8DCB;
  --hover-focus-link-color: #353430;
  --footer-title-color: #FFC2E6;
  --footer-title-shadow-color: #FF0070;
  --hover-focus-button-color: #353430;
  --backround-image: url(../images/cover-image-light.png);
  }
}

@media (max-width: 768px), (max-width: 375px), (prefers-color-scheme: light) {
  :root {
    --shadow-title: #FF8DCB;
    --footer-title-shadow-color: #FF8DCB;
  }
}

.page.theme_light {

}
