.theme_light .text-decor::before {
  display: none;
}

.theme_light .text-decor::after {
  display: none;
}

@media (prefers-color-scheme: light) {
:root {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFC2E6;
  --decor-element: #353430;
  --button-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-text: #353430;
  --background-subtitle-color: #FF8DCB;
  --text-color: #353430;
  --container-title-color: #353430;
  --link-text: #FF8DCB;
  --hover-focus-link-color: #353430;
  --footer-title-color: #FFC2E6;
  --hover-focus-button-color: rgba(50, 49, 45, 0.40);
  --hover-active-button-color: #353430;
  }
  .text-decor::before {
    display: none;
  }
  
  .text-decor::after {
    display: none;
  }
}

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFC2E6;
  --decor-element: #353430;
  --button-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-text: #353430;
  --background-subtitle-color: #FF8DCB;
  --text-color: #353430;
  --container-title-color: #353430;
  --link-text: #FF8DCB;
  --hover-focus-link-color: #353430;
  --footer-title-color: #FFC2E6;
  --hover-focus-button-color: rgba(50, 49, 45, 0.40);
  --hover-active-button-color: #353430;
}



