.page {
  background-image: var(--background-image);
  color: var(--text-color, #f1b2ce);
  background-color: var(--background-color, #000028);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header,
.footer {
  display: grid;
  position: relative;
  min-block-size: calc(100vh - 40px);
  margin: 20px;
}

.main {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.decorated-zone::before {
  content: '';
  border-block-start: 1px solid var(--decor-element);
  border-inline-end: 1px solid var(--decor-element);
  position: absolute;
  min-block-size: 25px;
  min-inline-size: 25px;
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: '';
  border-block-end: 1px solid var(--decor-element);
  border-inline-start: 1px solid var(--decor-element);
  position: absolute;
  min-block-size: 25px;
  min-inline-size: 25px;
  inset-block-end: 0;
}

.text-decor {
  justify-content: end;
}

.text-decor::before {
  content: 'REC';
  color: var(--decor-element);
  line-height: 25px;
  position: absolute;
  inset-inline-end: 3%;
  inset-block-start: 0;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

.text-decor::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--decor-element);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--decor-element);
  position: absolute;
  inset-inline-end: 0.9%;
  inset-block-start: 1.1%;
}

.header__theme-menu {
  display: grid;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 13px;
  align-items: start;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--hover-active-button-color);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-block-end: 1px solid var(--hover-focus-button-color);
}

button:hover {
  outline: 1px solid var(--hover-focus-button-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--hover-focus-link-color);
}

a:hover {
  border-block-end: 1px solid var(--hover-focus-link-color);
}

.header__theme-menu-button {
  color: var(--button-color);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background: transparent;
  border: 0;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-style: normal;
  appearance: none;
  text-transform: lowercase;
}

.title {
  margin-block-start: 46px;
  margin-inline-start: -20px;
}

.style_title_header_footer {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 #FF0070;
  font-weight: 700;
  line-height: 82.5%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-style: normal;
}

.text_footer {
  text-shadow: 2px 2px 0 #FF0070;
}

.header_text {
  display: grid;
  grid-template-columns: 1fr min-content;
  block-size: 4.4375em;
}

.title_text {
  grid-column-start: 2;
  inline-size: 491px;
}

.article_title_decor,
.text_decor_info {
  color: var(--subtitle-text);
  background-color: var(--background-subtitle-color);
  font-weight: 700;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.title_text_decor {
  background-color: var(--background-subtitle-color);
  grid-column-start: 2;
}

.container {
  display: grid;
}

.info {
  display: grid;
  grid-template-columns: 34% 66%;
  margin-block-end: 80px;
  margin-block-start: 80px;
}

.info_item {
  display: grid;
}

.container_title {
  color: var(--container-title-color);
  font-weight: 700;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.article_title_item {
  grid-row-start: 1;
  grid-column-start: 2;
}

.container_text {
  grid-row-start: 2;
  grid-column-start: 2;
  margin-block-start: 10px;
}

.link_container_text {
  text-shadow: 2px 2px 0 var(--link-text);
  text-decoration: none;
}

.container_decor,
.container_decor_wrap {
  color: var(--text-color);
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.container_title_item_just {
  grid-column-start: 2;
  margin-block-start: 20px;
}

.container_text_item {
  grid-column-start: 2;
  margin-block-start: 10px;
}

.about {
  display: grid;
}

.container_item {
  margin-block-end: 80px;
}

.info_item_description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}

.container_title_item_description {
  grid-column-start: 1;
}

.item_description_text {
  grid-column-start: 2;
  grid-row-start: 2;
}

.text_item {
  grid-column-start: 3;
  grid-row-start: 2;
}

.about_wrap {
  display: grid;
}

.about_inner {
  margin-block-end: 80px;
}

.inner_info {
  display: grid;
  grid-template-columns: 34% 66%;
}

.text_inner {
  display: grid;
  row-gap: 10px;
}

.text_decor_info {
  font-weight: 400;
  margin-block-start: 10px;
}

.img_wrap {
  margin-block-end: 80px;
}

.img_logo {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
}

.style_img {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
  display: block;
}

.img_sunset {
  grid-column-start: span 2;
}

.img_tape {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.img_books {
  grid-column-start: 2;
}

.img_street {
  block-size: 26.75em;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 4;
  margin-block-start: 5px;
}

.img_ice-cream {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}

.footer_wrap {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 48em) {
  .text-decor::before {
    inset-inline-end: 4%;
  }

  .text-decor::after {
    inset-inline-end: 1.2%;
    inset-block-start: 0.8%;
  }

  .header__theme-menu {
    grid-row-start: 2;
    justify-content: end;
    block-size: 0;
    margin-block-start: 9px;
  }

  .title {
    margin-block-start: 113px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 13px;
  }

  .header_text {
    margin-block-end: 47px;
  }

  .title_text {
    inline-size: 22.75rem;
  }

  .info {
    grid-template-columns: 32% 65%;
    gap: 22px;
    margin-block-start: 80px;
    max-inline-size: 45.5rem;
  }

  .about {
    max-inline-size: 45.5rem;
  }

  .info_item_description {
    display: block;
  }

  .about_wrap {
    max-inline-size: 45.5rem;
  }

  .img_box {
    max-inline-size: 45.5rem;
  }

  .container_title {
    max-width: 14.75rem;
  }

  .container_title_item_description,
  .item_description_text,
  .text_item {
    margin-block-start: 20px;
    margin-block-end: 10px;
  }

  .inner_info {
    grid-template-columns: 32% 65%;
    gap: 22px;
  }

  .img_sunset {
    block-size: 100%;
    inline-size: 100%;
  }

  .img_ice-cream {
    block-size: 100%;
    inline-size: 100%;
  }

  .img_tape {
    inline-size: 100%;
  }

  .img_books {
    block-size: 100%;
    inline-size: 100%;
  }

  .img_street {
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
  }

  .img_wrap {
    margin-block-end: 80px;
  }
}

@media (max-width: 375px) {
  .header,
  .footer {
    display: grid;
    position: relative;
    min-block-size: calc(100vh - 20px);
    margin: 10px;
  }

  .text_footer,
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .main {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .title_text_decor {
    inline-size: 355px;
  }

  .title_text {
    inline-size: 355px;
  }

  .text-decor::before {
    inset-inline-end: 8%;
  }

  .text-decor::after {
    inset-inline-end: 2.4%;
    inset-block-start: 1.2%;
  }

  .title {
    margin-block-start: 112.5px;
    margin-inline-start: 0;
  }

  .header_text {
    margin-block-end: 48px;
  }

  .header__theme-menu {
    margin-block-start: 9px;
  }

  .container_title {
    min-inline-size: 355px;
    margin-block-end: 20px;
  }

  .info {
    display: block;
    margin-block-start: 50px;
    margin-block-end: 50px;
  }

  .container_item,
  .about_inner {
    margin-block-end: 50px;
  }

  .inner_info {
    display: block;
  }

  .img_logo {
    display: block;
    margin-block-start: 10px;
  }

  .img_ice-cream,
  .img_tape,
  .img_books,
  .img_street {
    margin-block-start: 10px;
  }

  .img_wrap {
    margin-block-end: 51px;
  }
}