/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png);
  padding: clamp(0.625rem, 0.0271rem + 2.551vw, 1.25rem);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 64em;
}

.header {
  display: grid;
  position: relative;
  min-width: 61.5em;
  max-height: 45.5em;
}

.decorated-zone::before {
  content: '';
  border-block-start: 1px solid var(--decor-element);
  border-inline-end: 1px solid var(--decor-element);
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: '';
  border-block-end: 1px solid var(--decor-element);
  border-inline-start: 1px solid var(--decor-element);
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  inset-block-end: 0;
}

.text-decor {
  justify-content: end;
}

.text-decor::before {
  content: 'REC';
  color: var(--decor-element);
  line-height: 25px;
  position: absolute;
  inset-inline-end: 3%;
  inset-block-start: 0;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

.text-decor::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--decor-element);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--decor-element));
  position: absolute;
  inset-inline-end: 0.9%;
  inset-block-start: 1.1%;
}

.header__theme-menu {
  display: grid;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 25px;
  align-items: start;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--hover-active-button-color);
  padding: 2px 12px 6px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-block-end: 1px solid var(--hover-focus-button-color);
}

button:hover {
  outline: 1px solid var(--hover-focus-button-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--hover-focus-link-color);
}

a:hover {
  border-block-end: 1px solid var(--hover-focus-link-color);
}

.header__theme-menu-button {
  color: var(--button-color);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background: transparent;
  border: 0;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-style: normal;
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-title-footer-color);
  font-weight: 700;
  line-height: 82.5%;
  margin-block-start: 273.5px;
  margin-inline-start: -20px;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-style: normal;
}

.header_text {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-block-start: 114px;
  margin-block-end: 134px;
}

.title_text {
  grid-column-start: 2;
  min-width: 491px;
}

.title_decor,
.text_decor_info {
  color: var(--subtitle-text);
  background-color: var(--background-subtitle-color);
  font-weight: 700;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.main {
  display: grid;
}

.container {
  display: grid;
}

.info {
  display: grid;
  grid-template-columns: 34% 66%;
  margin-block-end: 80px;
  margin-block-start: 80px;
}

.info_item {
  display: grid;
}

.container_title {
  color: var(--container-title-color);
  font-weight: 700;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.container_title_item {
  grid-row-start: 1;
  grid-column-start: 2;
}

.container_text {
  grid-row-start: 2;
  grid-column-start: 2;
  margin-block-start: 10px;
}

.link_container_text {
  text-shadow: 2px 2px 0 var(--link-text);
  text-decoration: none;
}

.container_decor{
  color: var(--text-color-desc);
  font-weight: 400;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.container_decor_wrap {
  color: var(--text-color-desc);
  font-weight: 400;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.container_title_item_just {
  grid-column-start: 2;
  margin-block-start: 20px;
}

.container_text_item {
  grid-column-start: 2;
  margin-block-start: 10px;
}

.about {
  display: grid;
}

.container_item {
  margin-block-end: 80px;
}

.info_item_description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}

.container_title_item_description {
  grid-column-start: 1;
}

.item_description_text {
  grid-column-start: 2;
  grid-row-start: 2;
}

.text_item {
  grid-column-start: 3;
  grid-row-start: 2;
}

.about_wrap {
  display: grid;
}

.about_inner {
  margin-block-end: 80px;
}

.inner_info {
  display: grid;
  grid-template-columns: 34% 66%;
}

.text_inner {
  display: grid;
  row-gap: 10px;
}

.text_decor_info {
  font-weight: 400;
  margin-block-start: 10px;
}

.img_box {
  display: grid;
}

.img_wrap {
  margin-block-end: 80px;
}

.img_logo {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
}

.img_sunset {
  max-height: 100%;
  max-width: 649px;
  object-fit: cover;
  grid-column-start: span 2;
}

.img_tape {
  max-width: 315px;
  min-height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.img_books {
  max-height: 315px;
  max-height: 315px;
  grid-column-start: 2;
}

.img_street {
  min-width: 100%;
  max-height: 428px;
  object-fit: cover;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 4;
  margin-block-start: 5px;
}

.img_ice-cream {
  max-width: 315px;
  min-height: 100%;
  object-fit: cover;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}

.footer {
  display: grid;
  min-width: 984px;
  min-height: 728px;
  position: relative;
}

.footer::before {
  content: '';
  border-block-start: 1px solid var(--decor-element);
  border-inline-end: 1px solid var(--decor-element);
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.footer::after {
  content: '';
  border-block-end: 1px solid var(--decor-element);
  border-inline-start: 1px solid var(--decor-element);
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  inset-block-end: 0.1%;
}

.footer_wrap {
  display: grid;
  justify-content: center;
  align-items: center;
}

.text_footer {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 var(--shadow-title-footer-color);
  font-weight: 700;
  line-height: 82.5%;
  font-family: 'IBM Plex Mono', Bold, Regular;
  font-style: normal;
}

@media (max-width: 48em) {
  .page {
    min-width: 45.5em;
  }

  .header {
    max-height: 61em;
    min-width: 45.5em;
  }

  .decorated-zone::after {
    inset-block-end: -0.8%;
  }

  .text-decor::before {
    inset-inline-end: 4%;
  }

  .text-decor::after {
    inset-inline-end: 1.2%;
    inset-block-start: 0.8%;
  }

  .footer {
    min-height: 61em;
    min-width: 45.5em;
  }

  .header__theme-menu {
    grid-row-start: 2;
    justify-content: end;
    margin-block-start: 168.5px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 13px;
  }

  .title {
    margin-block-start: 183.5px;
  }

  .header_text {
    margin-block-start: 162px;
    margin-block-end: 183px;
  }


  .title_text {
    min-width: 364px;
    max-height: 117px;
  }

  .info {
    grid-template-columns: 32% 65%;
    gap: 22px;
    margin-block-start: 88px;
  }

  .info_item_description {
    display: block;
  }

  .container_title {
    max-width: 236px;
  }

  .container_title_item_description,
  .item_description_text,
  .text_item {
    margin-block-start: 20px;
    margin-block-end: 10px;
  }

  .inner_info {
    grid-template-columns: 32% 65%;
    gap: 22px;
  }

  .img_sunset {
    max-height: 100%;
    max-width: 100%;
  }

  .img_ice-cream {
    max-width: 100%;
    min-height: 100%;
  }

  .img_tape {
    max-width: 100%;
  }

  .img_books {
    max-height: 100%;
    max-width: 100%;
  }

  .img_street {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }

  .img_wrap {
    margin-block-end: 85px;
  }

  .footer::before {
    inset-block-start: -0.8%;
  }

  .footer::after {
    inset-block-end: -0.3%;
  }
}

@media (max-width: 375px) {
  .page {
    min-width: 375px;
  }

  .header {
    min-height: 648px;
    min-width: 355px;
  }

  .footer {
    min-height: 648px;
    min-width: 355px;
  }

  .decorated-zone::after {
    inset-block-end: 1.4%;
  }

  .text-decor::before {
    inset-inline-end: 8%;
  }

  .text-decor::after {
    inset-inline-end: 2.4%;
    inset-block-start: 1.2%;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 67.5px;
    margin-inline-start: 0;
  }

  .header_text {
    margin-block-start: 55px;
    margin-block-end: 66px;
  }

  .title_text {
    min-width: 355px;
  }

  .header__theme-menu {
    margin-block-start: 70.5px;
  }

  .container_title {
    max-width: 355px;
    margin-block-end: 20px;
  }

  .info {
    display: block;
    margin-block-start: 40px;
    margin-block-end: 50px;
  }

  .container_item,
  .about_inner {
    margin-block-end: 50px;
  }

  .inner_info {
    display: block;
  }

  .img_logo {
    display: block;
    margin-block-start: 10px;
  }

  .img_ice-cream {
    margin-block-start: 7px;
  }

  .img_tape {
    margin-block-start: 5px;
  }

  .img_books {
    margin-block-start: 7px;
  }

  .img_street {
    margin-block-start: 6px;
  }

  .img_wrap {
    margin-block-end: 47px;
  }

  .text_footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer::before {
    inset-block-start: -0.1%;
  }

  .decorated-zone::after {
    inset-block-end: 1.5%;
  }

  .footer::after {
    inset-block-end: 0.3%;
  }
}