/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --decor-element: #FF0070;
  --button-color: #FF0070;
  --title-color: #DB00FF;
  --shadow-title-footer-color: #FF0070;
  --subtitle-text: #000028;
  --background-subtitle-color: #FF0070;
  --text-color-desc: #F1B2CE;
  --container-title-color: #FF0070;
  --link-text: #FF0070;
  --hover-focus-link-color: #F1B2CE;
  --footer-title-color: #DB00FF;
  --hover-focus-button-color: #FF007066;
  --hover-active-button-color: #FF0070;
}